.carousel {
    width: 100%;
    height: 300px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    position: relative;
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    object-fit: cover; /* Agrega esta línea para ajustar la imagen sin estirarla */
  }
  
  .carousel img.active {
    opacity: 1;
  }
  